@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Roboto:wght@500;700;900&display=swap');

a{
    text-decoration: none;
}

header{
    width: 80%;
    margin: auto;
    margin-bottom: 90px;
}

.header{
    width: 80%;
    margin: auto;
    border-bottom: 2px solid #000;
}

.navbar{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.logo{
    width: 20%;
}

.nav{
    width: 30%;
    display: flex;
    justify-content: space-around;
    font-family: 'Roboto', sans-serif;
}

.nav a{
    color: #000;
    font-weight: 500;
    text-transform: uppercase;

}

.icon{
    width: 20%;
    text-align: end;
}

.icon img{
    margin-left: 30px;
}