.App{
  width: 80%;
  margin: auto;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.card{
  width: 300px;
}

.bg-red{
  background:red;
}

.bg-green{
  background: green;
}

.bg-blue{
  background: blue;
}
